<div class="d-flex text-center text-bg-dark" id="footercontainer">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
        <div class="footer">
            <div class="contact">
                <h4>Nous contacter :</h4>
                <ul>
                    <li>N° de telephne : xx xx xx xx xx</li>
                    <li>Adresse : <a
                            href="https://www.google.com/maps/place/Gen%C3%A8ve,+Suisse/@46.2048226,6.1018393,13z/data=!3m1!4b1!4m6!3m5!1s0x478c650693d0e2eb:0xa0b695357b0bbc39!8m2!3d46.2043907!4d6.1431577!16zL20vMDM5MDI?hl=fr">genève</a>
                    </li>
                    <li>Adresse mail :<a href="mailto : mailTest@mailTest.com">mailTest@mailTest.com</a></li>
                </ul>
            </div>
            <div class="remerciment">
                <p>Merci d'avoir choisi nos services!</p>
                <p>Bonne séance!</p>
            </div>
            <div class="navigation">
                <h4>Naviguer plus facilement :</h4>
                <ul>
                    <li><a href="">Page d'accueil</a></li>
                    <li><a href="">Chercher un film</a></li>
                    <li><a href="">Chercher un cinema</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>