
.formcontainer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 25%;
    border-radius: 25px;
    background-color: aqua;
    margin-bottom: 10px;
}

.container-formulaire{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    background-color: yellowgreen;
    
    color: black;
    text-align: center;
}
